.popup__button {
  width: 100%;
  background-color: black;
  color: white;
  border: none;
  height: 50.15px;
  font-size: 18px;
  line-height: 1.21;
  font-weight: 400;
}

.popup__button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 768px) {
  .popup__button {
    font-size: 14px;
  }
}
