.profile__avatar-cover {
  height: 26px;
  width: 26px;
  display: none;
  background-image: url(../../../images/edit.svg);
  background-repeat: no-repeat;
  background-size: 26px;
  background-position: center center;
  z-index: 5;
}

.profile__avatar:hover .profile__avatar-cover {
  display: block;
}


