.card__like-button {
  background-color: white;
  background-image: url(../../../images/like.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position:center;
  border: none;
  width: 1.7vw;
  max-width: 21px;
  height: 1.6vw;
  padding: 0;
}

.card__like-button:active {
  background-image: url(../../../images/like-active.svg);
}

@media screen and (max-width: 768px) {
  .card__like-button {
    width: 6vw;
    height: 5.46vw;
    max-width: 24px;
  }
}
