.card__like-button {
  background-color: white;
  background-image: url(../../../images/like.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position:center;
  border: none;
  font-size: 1.875vw;
  line-height: 1.21;
  font-weight: 900;
  width: 1.7vw;
  max-width: 21px;
  height: 100%;
  font: inherit;
  padding: 0;
}

.card__like-button:active {
  background-image: url(../../../images/like-active.svg);
}
