.card__delete-button {
  background: transparent;
  background-image: url(../../../images/delete.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position:center;
  border: none;
  width: 1.41vw;
  max-width: 18px;
  height: 1.56vw;
  position: absolute;
  top: 18px;
  right: 15px;
}

.card__delete-button:hover {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .card__delete-button {
    width: 5.5vw;
    height: 6vw;
    max-width: 24px;
  }
}
