.profile__avatar {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  margin: 1px auto 1px auto;
  grid-area: avatar;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile__avatar:hover {
  opacity: 0.8;
}

@media screen and (max-width: 768px) {
  .profile__avatar {
    margin: 0 auto;
  }
}
