.profile__avatar {
  height: 127px;
  width: 127px;
  border-radius: 50%;
  margin: 1px auto 1px auto;
  grid-area: avatar;
  background-image: url("../../../images/avatar.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

@media screen and (max-width: 768px) {
  .profile__avatar {
    margin: 0 auto;
  }
}
