.popup__container {
  width: fit-content;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 5px;
  z-index: 6;
}

@media screen and (max-width: 768px) {
  .popup__container {
    grid-gap: 2px;
  }
}
