.cards-grid {
  list-style: none;
  width: 100%;
  max-width: 880px;
  margin: 0 auto;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  display: grid;
  grid-gap: 20px 17px;
  grid-template-columns: repeat(3, 1fr);
}
