.card {
  background: #FFFFFF;
  color: #000000;
  border-radius: 10px;
  max-width: 282px;
  width: calc((68.75vw - 34px)/3);
  min-height: 361px;
  position: relative;
}

@media screen and (max-width: 768px) {
  .card {
    width: 282px;
    min-height: 361px;
    margin: 0 auto;
  }
}
